<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>github-widget-node</title>
<meta name="description" content="">
<meta name="keywords" content="">
<style>
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
.github-widget{border:1px solid #DDD;color:#333;max-width:450px; padding: 10px; font-family:Noto Sans,sans-serif; float: left; margin-right:10px; }
.github-widget a {color:#4078C0;text-decoration:none}
.gh-top{height:100px;padding:10px}
.gh-top img{border:1px solid #eee;border-radius:50%}
.gh-top-photo{width:20%;float:left}
.gh-top-text{width:60%;float:right;text-align:center}
.gh-name{font-size:1.5em;line-height:1.5em;padding:10px 0 0 0}
.gh-count{width: 100%; text-align: center; border-bottom: 1px solid #eee; padding: 0 0 20px 0}
.gh-count span{display: block}
.gh-h2{font-weight:400;color:#666;text-align:center;padding:15px}
.gh-names{width:50%}
.gh-language{width:25%}
.gh-stars{width:25%;text-align:center}
.gh-foot{padding:10px}
.gh-link{display:inline-block;background:#ddd;width:100px;height:28px;text-align:center;line-height:28px}
.gh-foot span{float:right;line-height:28px;padding:0 20px 0 0}
.gh-tb {width: 100%}
.gh-tb td{padding: 10px}
</style>
</head>
<body>



<% if(data.list) { %>

    <% data.list.forEach(function(item, index){ %>
        
        <div class="github-widget" data-username="kyo4311">
            <div class="gh-wrap1">
            <div class="gh-top">
                <div class="gh-top-photo"><img src="<%=item.user.avatar_url%>" width="90" alt=""></div>
                <div class="gh-top-text">
                    <div class="gh-name"><%=item.user.name%></div><div class="gh-location"><%=item.user.location%></div>
                </div>
            </div>

            <table class="gh-count">
                <tbody>
                    <tr>
                        <td><span><%=item.user.followers%></span>Followers</td>
                        <td><span><%=item.user.following%></span>Following</td>
                        <td><span><%=item.user.public_repos%></span>Repositories</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="gh-h2">Top repositories</div>
            </div>

            <table class="gh-tb">
                <tbody>

                <% item.rep.list.forEach(function(v){ %>
                     <tr>
                        <td width="50%"><a href="<%=v.html_url%>"><%=v.name%></a></td>
                        <td width="25%"><%=v.language%></td>
                        <td width="25%">★<%=v.stargazers_count%></td>
                    </tr>
                <% })%>

                </tbody>
            </table>

            <div class="gh-foot">
                <a class="gh-link" target="new" href="https://github.com/' + username + '">Follow</a>
                <span>Last active: <%=item.rep.latestDate%></span>
            </div>
        </div>
    <% }) %>

<% } %>

</body>
</html>